name: Build, deploy and docker build frontend

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - 'v*'

jobs:
  # Build Job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
        
      - name: Install Node
        uses: actions/setup-node@v5
        with:
          node-version: 20

      - name: Install dependencies
        run: corepack enable
        
      - name: Install Dependencies
        run: yarn install --frozen-lockfile --silent

      - name: Build Project
        run: yarn build-for-gh

      - name: Upload artifact to enable deployment
        uses: actions/upload-artifact@v4
        with:
          name: production-files
          path: dist

  # Deploy Job
  deploy:
    permissions:
      pages: write
      contents: write
    # Add a dependency to the build job
    needs: build
    # Specify runner + deployment step
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v5
        with:
          name: production-files
          path: dist
          
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: dist